---
import { heroData } from "../constants/heroData";
import aboutDark from "../assets/images/image-about-dark.jpg";
import aboutLight from "../assets/images/image-about-light.jpg";
import IconAngleLeft from "../components/ui/IconAngleLeft.astro";
import IconAngleRight from "../components/ui/IconAngleRight.astro";
---

<main class="main">
  <section id="hero" class="section hero">
    <h1 class="sr-only"></h1>

    <div class="custom-slider" id="carousel-container">
      <div class="carousel-track" id="carousel-track">
        {
          heroData.map((item) => (
            <div class="carousel-item">
              <picture>
                <source
                  media="(min-width: 375px)"
                  srcset={item.image.desktop}
                  sizes=""
                />
                <img
                  class="carousel-img"
                  src={item.image.mobile}
                  alt={item.alt}
                  data-current={item.id}
                  draggable="false"
                />
              </picture>
            </div>
          ))
        }
      </div>

      <div class="carousel-nav carousel-buttons">
        <button class="carousel-button" id="prevBtn" aria-label="Previous"
          ><IconAngleLeft /></button
        >
        <button class="carousel-button" id="nextBtn" aria-label="Next"
          ><IconAngleRight /></button
        >
      </div>
    </div>

    <div class="card hero__card">
      <div class="card-stack">
        {
          heroData.map((item, index) => (
            <div
              class:list={["card-content", { "is-active": index === 0 }]}
              data-index={index}
            >
              <h2 class="hero__title">{item.title}</h2>
              <p class="description hero__descr">{item.description}</p>
              <a class="hero__link" href="#!">
                Shop now
              </a>
            </div>
          ))
        }
      </div>
    </div>
  </section>
  <section id="about" class="section about">
    <picture>
      <img
        class="about__img"
        src={aboutDark.src}
        draggable="false"
        alt="A dark, cozy room interior accented with a modern armchair and soft lighting"
      />
    </picture>

    <div class="card about__card">
      <h2 class="title about__title">About our furniture</h2>
      <p class="description">
        Our multifunctional collection blends design and function to suit your
        individual taste. Make each room unique, or pick a cohesive theme that
        best express your interests and what inspires you. Find the furniture
        pieces you need, from traditional to contemporary styles or anything in
        between. Product specialists are available to help you create your dream
        space.
      </p>
    </div>

    <picture>
      <img
        class="about__img"
        src={aboutLight.src}
        draggable="false"
        alt="A bright, minimalist room with a white table and modern decor elements"
      />
    </picture>
  </section>
</main>

<style>
  .main {
    display: grid;
  }

  .section {
    display: grid;
  }

  .hero__title {
    line-height: 1.1;
    font-size: clamp(35px, 4vw, 45px);
  }

  .hero__link {
    text-decoration: none;
    text-transform: uppercase;
    color: var(--color-text);
  }

  .custom-slider {
    position: relative;
    width: 100%;
  }

  .carousel-track {
    display: flex;
    height: 100%;
    overflow-x: auto;
    scroll-snap-type: x mandatory;
    scroll-behavior: smooth;
    scrollbar-width: none;
    -webkit-overflow-scrolling: touch; /* Плавность на iOS */
  }

  .carousel-track::-webkit-scrollbar {
    display: none;
  }

  .carousel-item {
    flex: 0 0 100%;
    scroll-snap-align: start;
  }
  .carousel-buttons {
    position: absolute;
    right: 0;
    bottom: 0;
    display: flex;
  }

  .carousel-button {
    display: flex;
    align-items: center;
    padding: 1.5rem;
    color: var(--color-nav-link);
    background-color: var(--color-text);
  }

  .card {
    padding-inline: var(--content-offset);
  }

  .card-stack {
    display: grid;
    grid-template-columns: 1fr;
  }

  .card-content {
    display: flex;
    flex-direction: column;
    gap: 1.1rem;
    grid-area: 1 / 1;

    opacity: 0;
    transform: translateX(2rem);
    pointer-events: none;
    transition:
      opacity 0.5s ease-in,
      transform 0.5s ease-in,
      visibility 0.5s;
    visibility: hidden;
  }

  .card-content.is-active {
    opacity: 1;
    transform: translateX(0);
    visibility: visible;
    transition:
      opacity 0.5s ease-out 0.2s,
      transform 0.5s ease-out 0.2s;
  }

  @media (width > 768px) {
    .section:nth-child(1) {
      grid-template-columns: 1.4fr 1fr;
    }
    .section:nth-child(2) {
      grid-template-columns: auto clamp(420px, 40vw, 580px) auto;
    }

    .hero__card {
      padding-block-start: clamp(32px, 8vw, 115px);
      padding-block-end: 115px;
      padding-inline: clamp(32px, 7vw, 100px);
    }

    .hero__link {
      font-size: 1.1rem;
      letter-spacing: 11px;
    }

    .carousel-img {
      height: 100%;
      object-fit: cover;
      object-position: left;
    }

    .carousel-buttons {
      right: -161px;
    }

    .carousel-button {
      padding: 1.75rem 2.1rem;
    }

    .about__card {
      padding: 3.875rem 3rem 3rem;
    }

    .about__title {
      margin-block-end: 0.625rem;
    }

    .about__img {
      height: 100%;
      object-fit: cover;
    }
  }
</style>

<script>
  const track = document.getElementById("carousel-track");
  const nextBtn = document.getElementById("nextBtn");
  const prevBtn = document.getElementById("prevBtn");
  const textBlocks = document.querySelectorAll(".card-content");

  let currentIndex = 0;
  const total = textBlocks.length;

  function changeSlide(newIndex: number) {
    textBlocks[currentIndex].classList.remove("is-active");

    currentIndex = newIndex;

    textBlocks[currentIndex].classList.add("is-active");

    const width = track?.clientWidth ?? 0;
    track?.scrollTo({ left: width * currentIndex, behavior: "smooth" });
  }

  function updateText(newIndex: number) {
    if (newIndex === currentIndex) return;

    textBlocks[currentIndex].classList.remove("is-active");
    textBlocks[newIndex].classList.add("is-active");
    currentIndex = newIndex;
  }

  nextBtn?.addEventListener("click", () => {
    const next = (currentIndex + 1) % total;
    changeSlide(next);
  });

  prevBtn?.addEventListener("click", () => {
    const prev = (currentIndex - 1 + total) % total;
    changeSlide(prev);
  });

  track?.addEventListener(
    "scroll",
    () => {
      const width = track.clientWidth;
      const newIndex = Math.round(track.scrollLeft / width);

      if (newIndex !== currentIndex) {
        updateText(newIndex);
      }
    },
    { passive: true },
  );
</script>
